@import '../../../../variables';

.order-item-wrapper {
  width: 100%;
  height: 60px;
  @include flex-line-start-vertical-center;
  gap: 5px;
  border: 1px solid #222;
  background-color: #fff;
  padding: 5px;
  border-radius: 2px;

  img {
    height: 3em;
  }

  .order-info-container {
    @include flex-column-line-start-vertical-center;
    gap: 3px;
  }

  .cat-price-span {
    margin-left: auto;
  }

  .order-cancel-button {
    height: 90%;
    padding: 5px;
    background-color: #fff;
  }
}