@import '../../../../../variables';

.form-message-wrapper {
  @include flex-all-center;
  @include user-select-none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: 1px solid #222;
  background-color: #fff;
  padding: 5px;
  border-radius: 2px;

  .message-span {
    font-weight: bold;

    &:not(.error-message) {
      color: green;
    }

    &.error-message {
      color: red;
    }
  }
}